# Database
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

PORT=

# JWT Tokens
ACCESS_SECRET=
ACCESS_EXPIRATION=
REFRESH_SECRET=
REFRESH_EXPIRATION=

# Application
NODE_ENV=
PORT=

#Polar
POLAR_CLIENT_SECRET=
POLAR_CLIENT_ID=
POLAR_REDIRECT_URL=
POLAR_BASE_URL=

#Frontend
FRONTEND_URL=

ENCRYPTION_KEY=